/* You can add global styles to this file, and also import other style files */
* {
    margin: 0%;
    padding: 0%;
}

html {
    width: 100%;
    height: 100%;
    background: #3f3e3e;
}

body {
    padding: 50px;
}