<div class="container">
    <div class="page-content">
        <div class="profile">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="bg-green bg-font-blue sbold uppercase">
                        <span class="info-username">
                            Federico Iriarte
                        </span> 
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-nav">
                        <img class="img-responsive pic-bordered" src="../../../assets/images/profile.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <span class="span-description">
                            Alumno de la carrera Tecnico Universitario en Programacion - Universidad Tecnologica Nacional
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>