<header class="header-app">
  <div class="title-app">
      <h1>Ejercicio 1: Suma y promedio de edades</h1>
  </div>
</header>
<main class="main-app">
  <div>
      <div class="input-data">
        <b>Edad Uno</b>
        <input type="number" [(ngModel)]="edadUno">
        <b>Edad Dos</b>
        <input type="number" [(ngModel)]="edadDos">
      </div>
      <br>
      <div class="show-result">
        <b>Suma</b>
        <input type="number" [(ngModel)]="suma" readonly>
        <b>Promedio</b>
        <input type="number" [(ngModel)]="promedio" readonly>
      </div>
      <br>
      <div class="calculate">
        <button (click)="Calcular()">Calcular</button>
        <button (click)="ClearTextBox()">Limpiar</button>
      </div>
  </div>
</main>