<div class="container">
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-dark">
                <div class="card-body bg-dark">
                    <div class="container">
                        <form [formGroup]="formRecover" (ngSubmit)="recoverPassword()" id="contact-form" role="form">
                            <div class="controls">
                                <h3>!Vamos por aca!</h3>
                                <div class="form-group">
                                    <label for="form-recover-password-message" class="form-recover-password-message">
                                        Ingresa tu correo electronico para recuperar tu contraseña
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="form-email">
                                        Correo electronico
                                    </label>
                                    <input type="email" formControlName="email" id="form-email" name="email"
                                        class="form-control" placeholder="Ingresa tu correo electronico"
                                        required="required">
                                    <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
                                        <span *ngIf="email.errors?.['required']">
                                            Completa el campo con tu correo electronico
                                        </span>
                                        <span *ngIf="email.errors?.['email']">
                                            Correo electronico invalido
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block"
                                            value="Enviar" [disabled]="formRecover.invalid">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>