<!-- form -->
<div class="form">
    <div class="form-panel">
        <div class="form-content">
            <form>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" required="required" />
                </div>
                <div class="form-group">
                    <label for="surname">Apellido</label>
                    <input type="text" id="surname" name="surname" required="required" />
                </div>
                <div class="form-group">
                    <label for="email">Correo electronico</label>
                    <input type="text" id="email" name="email" required="required" />
                </div>
                <div class="form-group">
                    <label for="comments">Consulta</label>
                </div>
                <div class="form-group">
                    <textarea name="textarea" id="textarea" minlength="30" maxlength="400" placeholder="Escribinos tu consulta, nos estaremos comunicando con vos a la brevedad" required></textarea>           
                </div>
                <div class="form-group">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>