<header class="header">
  <div class="header-inner">
    <nav class="navbar-container">
      <ul class="navbar-ul">
        <li class="navbar-li" routerLink="/welcome">Inicio</li>
        <li class="navbar-li" routerLink="/login">Ingresar</li>
        <li class="navbar-li" routerLink="/register">Registrate</li>
        <li class="navbar-li" routerLink="/contact">Contacto</li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-box">
      <div class="footer-logo">
          <a href="https://www.fra.utn.edu.ar/" target="_blank"><img src="../assets/logo.jpg" alt="brand logo"></a>
      </div>
      <div class="footer-find-us">
          <p>Encontranos en</p>
          <a href="tel:6253-7053 / 6253-7054" target="_blank">4201-4133 / 4222-6465</a>
          <br>
          <br>
          <a href="https://goo.gl/maps/HaQC5ZszxJqSwxUi8" target="_blank">Mitre 750 - Avellaneda</a>
      </div>
      <div class="footer-follow-us">
          <p>Seguinos</p>
          <a href="https://www.facebook.com/UTNAvellaneda" target="_blank"><img src="../assets/facebook.svg" alt="facebook logo" title="Facebook"></a>
          <a href="https://www.instagram.com/utnavellaneda" target="_blank"><img src="../assets/instagram.svg" alt="instagram logo" title="Instagram"></a>
      </div>
  </div>
  <div class="footer-disclaimer">
      <p>Este es un ambiente de testing, las pruebas que aqui se llevan a cabo no tienen impacto en el ambiente productivo. Las fotos e imagenes son meramente ilustrativas.</p>
  </div>
  <div class="footer-line"></div>
  <div class="footer-end">
      <p>© 2023 UTN - TESTING STAGE</p><br><a href="https://github.com/fedeiria/Laboratorio-IV/tree/master" target="_blank">Diseño y desarrollo</a>
  </div>
  <br>
</footer>