<div class="card">
    <header class="d-flex bg-dark flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="../../../../assets/images/Web/games-room-32.png" alt="Games Room">
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/" class="nav-link px-2 text-white me-2">Inicio</a></li>
            <li><a routerLink="/" class="nav-link px-2 text-white me-2">Categorias</a></li>
            <li><a routerLink="/" class="nav-link px-2 text-white me-2">Populares</a></li>
            <li><a routerLink="/about" class="nav-link px-2 text-white me-2">Quien soy</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <button routerLink="/login" type="button" class="btn btn-outline-light me-4">Ingresar</button>
            <button routerLink="/register" type="button" class="btn btn-warning me-4">Registrarse</button>
        </div>
    </header>
</div>